:root {
  --primary-color: #e9884a;
  --secondary-color: #f8847d;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 10px;
  background: linear-gradient(
    -86.6deg,
    rgb(232, 252, 252) 11.2%,
    rgb(252, 215, 134) 56.2%,
    rgb(247, 124, 124) 100.2%
  );
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 26px;
  margin-top: 3px;
  opacity: 0.7;
}

p {
  padding: 20px 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  color: black;
  opacity: 0.8;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: black;
  opacity: 0.8;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: black;
  opacity: 0.6;
}

.primary-link {
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.primary-link:hover {
  color: black;
  opacity: 0.8;
}

@media (max-width: 576px) {
  h3 {
    color: black;
  }
  h1,
  h2 {
    opacity: 0.7;
  }
}
